/* Coolors Exported Palette - coolors.co/1a1d40-c4d5ec-7a9abc-e8cd74-787a8d */

/* HSL */
$color1: hsla(235%, 42%, 18%, 1);
$color2: hsla(215%, 51%, 85%, 1);
$color3: hsla(211%, 33%, 61%, 1);
$color4: hsla(46%, 72%, 68%, 1);
$color5: hsla(234%, 8%, 51%, 1);

/* RGB */
$color1: rgba(26, 29, 64, 1);
$color2: rgba(196, 213, 236, 1);
$color3: rgba(122, 154, 188, 1);
$color4: rgba(232, 205, 116, 1);
$color5: rgba(120, 122, 141, 1);