@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Astrofilm</h1>
    <p class="lead">Somos una empresa de salas de cine y red social de películas, donde puedes consultar nuestro archivo de proyecciones y participar en la comunidad.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Leer más &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Aprende a usar la Web</h2>
        <p>
            En esta guia te enseñamos los primeros pasos en la aplicación; como configurar tu perfil, gestionar el método de pago para tus reservas o aprender a crear listas.
        </p>
        <p><a class="btn btn-default btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Empezar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dónde estamos</h2>
        <p>Disponemos actualmente de tres salas de cine, en Murcia, Alicante y Barcelona. Próximamente haremos una apertura en Madrid.</p>
        <p><a class="btn btn-default btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301866">Mapa &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Házte Socio</h2>
        <p>Tanto si quieres ser mécenas de nuestro proyecto como si quieres trabajar como gestor de contenidos o crítico habitual tenemos un lugar para tí.</p>
        <p><a class="btn btn-default btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301867">Contacta &raquo;</a></p>
    </div>
</div>