@model IEnumerable<Astrofilm.Models.PELICULAS>
@Styles.Render("~/Content/Propios/archivosPelis.css")


<head>
    @*<link href="~/Content/Propios/archivosPelis.css" rel="stylesheet" />*@
    <style>
        img {
            width: 7.5em;
            height: 9em;
        }
        #sliderCards{
            max-height:20em;
            /*max-width:90em;*/
            display: flow-root;
            overflow:scroll !important;
        }
        .card{
            /*display:inline-block;*/
        }
    </style>
</head>

@{
    ViewBag.Title = "ArchivoPelis";
}
<br />
<br />
<h2 class="text-center">Archivo  de Películas</h2>

<h3>TEST</h3>
<div id="sliderCards" class="sli1 border border-primary text-center">
    @foreach (var item in Model) //CARTAS ELEMENTOS INDIVIDUALES
    {
        <div class="card table-bordered border border-secondary m-1 d-inline-block" style="width: 18rem;">
            @*<img src="..." class="card-img-top" alt="...">*@
            <div class="card-body">
                <h5 class="card-title">
                    @Html.DisplayFor(modelItem => item.Titulo)
                    @*@Html.DisplayFor(modelItem => item.Titulo)*@
                </h5>
                <img src="~/Content/Images/Peliculas/@Html.DisplayFor(modelItem => item.Imagen)" class="d-block mx-auto mt-2" style="" />

                @Html.DisplayFor(modelItem => item.Año)

                @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                @*<a href="#" class="btn btn-primary d-block w-25 mx-auto mt-2">Ver</a>*@
                @Html.ActionLink("Ver", "Details", new { id = item.IDPelicula }, new {@class = "btn btn-primary d-block w-25 mx-auto mt-2" })
            </div>
        </div>
    }
</div>


<script type="text/javascript">
    
    
</script>