@model IEnumerable<Astrofilm.Models.PELICULAS>
@Styles.Render("~/Content/Propios/archivosPelis.css")

@{
    ViewBag.Title = "ArchivoPelis";
}
    <br /><br />
<h2>Archivo  de Películas</h2>

<div id="sliderCards" class="border border-primary">
    <div class="card table-bordered border border-primary" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">
                @Html.DisplayNameFor(model => model.Titulo)
            </h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
